html,
body {
  height: 100%;
}

body > #root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

@font-face {
  font-family: "Coolvetica";
  src: url("/fonts/coolvetica/Coolvetica-regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-bg-color: #1d1d1d;
  --txt-color: #ced2ad;
  --link-color: #477805;
  --link-color-hover: #ffffff;
  --border-color: #ced2ad;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Coolvetica", monospace;
  font-size: large;
  font-weight: normal;
  background-color: var(--main-bg-color);
  color: var(--txt-color);
}

.nav-link:hover,
.navbar-brand:hover {
  color: var(--txt-color) !important;
}

a:hover {
  color: var(--link-color-hover) !important;
}

.ascii-art {
  font-family: "Courier New", Courier, monospace;
  white-space: pre;
  overflow-x: auto;
  font-size: clamp(0.5rem, 1vw, 1rem);
  text-align: center;
  margin-bottom: 20px;
}
.centralized-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  text-align: center;
}

.cover-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centralized-text {
  font-size: 1rem;
  max-width: 800px;
  line-height: 1.6;
}

.search-dropdown {
  background-color: #fff !important;
  z-index: 1000;
}

.search-dropdown-item {
  background-color: #fff !important;
  color: #000 !important;
}

#welcome {
  font-size: xx-large;
  margin-bottom: 8px;
}

#welcome-msg {
  font-size: larger;
  font-weight: normal;
}
